*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#fff;
    color:#555;
    max-width:1560px;
    text-rendering:optimizeLegibility;
    font-size:20px;
}
h2{
    text-align: center;
    margin-top:20px;
    color:#6d6dae;

}
ol{
    margin-top:20px;
}
ol li{
    list-style: none;
    word-wrap: break-word;
    padding: 0 10px;
}
.left-pannel{
    width:30%;
    float:left;
    height:100vh;
    background:linear-gradient(rgba(85, 89, 228, 0.5),rgba(108, 23, 23, 0.5));
}
.chat-screen{
    width:70%;
    float: left;
    height:100vh;
    background-color:#dedede;
}
.chat-model{
    height: 89vh;
    overflow-y: scroll;
    padding-bottom: 15px;
}
.form {
    padding: 0 10px;
    background-color: #ccc;
    height: 8vh;
    position: relative;
}
input{
    width:93%;
    padding: 5px;
    border:#555;
    outline: none;
    margin-top:15px;
    height:34px;
}
button{
    border:none;
    background-color: transparent;
    margin-top:15px;
    font-size: 120%;
    height: 34px;
    padding-left: 5px;
    cursor:pointer;
    outline: none;
}
#submit{
    position: absolute;
    right:94px;
    padding-top: 4px;
}
.disabled{
    cursor:not-allowed;
}
.message{
    margin-bottom: 5px;
}
.message_title{
    display: flex;
}
.message_title span{
    margin-left: 7px;
    margin-top: 2px;
    color: rgba(138, 133, 133, 0.6);
    font-size: 80%;
}
.message_body{
    font-size: 90%;
}